<a class="arrow-work" href="#my-work">
    <img src="./img/Arrow 7.svg" alt="">
</a>
<div class="card-wrapper">
<span class="my-work">{{'WORK.my_work' | translate}}</span>
<app-card *ngFor="let work of works" [work]="work"></app-card>
<div class="ongoing-wrapper">
  <div class="title-container">
    <p>4</p>
    <span>{{'WORK.ongoing' | translate}}</span>
  </div>
  <div class="description-container">
    <span>{{'WORK.ongoing_description' | translate}}</span>
    <button>{{'WORK.lets_talk' | translate}}</button>
  </div>
</div>
</div>

