@import '../../../styles.scss';

.my-work{
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  font-size: 64px;
  font-weight: bold;
  color: transparent; 
  -webkit-text-stroke: 1px var(--primary-color); 
  background: transparent; 
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  animation: fade-in-normal 1s ease-in-out 0s 1 normal none; 
}

.card-wrapper{
  display: flex;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  &.visible{
    opacity: 1;
    transform: translateY(0);    
  }
}

.arrow-work{
  position: relative;
  right: 100px;
  bottom: 30px;
  transition: transform 0.3s ease;
  &:hover{
    @include aGlow();
    cursor: pointer;
  }
}

.title-container{
  @include dFlex($g:16px);
  >p{
    font-size: 40px;
    margin-block-start: 0.0em;
    margin-block-end: 0.0em;
    font-weight: bold;
    color: transparent; 
    -webkit-text-stroke: 1px var(--primary-color); 
    background: transparent; 
  }
  >span{
    font-size: 32px;
    font-weight: bold;
    color: var(--primary-color);
  }
}

.ongoing-wrapper{
  margin-top: 30px;
  width: 361px;
  text-align: center;
}

.description-container{
  color: white;
  @include dFlex();
  flex-direction: column;
}

button{
  border-radius: 30px;
  width: 135px;
  height: 44px;
  margin-top: 16px;
  background-color: var(--primary-color);
  border: none;
  &:hover{
    cursor: pointer;
    background: linear-gradient(160deg, #B5E93B, #547800);
  }
}

@media (max-width:1025px) {

  a{
    display: none;
  }

  .card-wrapper{
    flex-direction: column;
    align-items: center;
  }

  .my-work{
    transform: rotate(0deg);
    writing-mode: lr;
  }

  .description-container{
    button{
      display: none;
    }
  }
}

@media (max-width:450px) {
  .my-work{    
      font-size: 48px;  
  }
}
