@import '../../../styles.scss';

.my-work{
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  font-size: 64px;
  font-weight: bold;
  color: transparent; /* Der Text ist transparent */
  -webkit-text-stroke: 1px var(--primary-color); /* Definiert einen dünnen Rand um den Text */
  background: transparent; /* Verhindert, dass der Text Hintergrundfarbe annimmt */
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}

.card-wrapper{
  display: flex;
}

.arrow-work{
  position: relative;
  right: 100px;
  bottom: 30px;
  transition: transform 0.3s ease;
  &:hover{
    @include aGlow();
  }
}

.title-container{
  @include dFlex($g:16px);
  >p{
    font-size: 40px;
    margin-block-start: 0.0em;
    margin-block-end: 0.0em;
    font-weight: bold;
    color: transparent; /* Der Text ist transparent */
    -webkit-text-stroke: 1px var(--primary-color); /* Definiert einen dünnen Rand um den Text */
    background: transparent; /* Verhindert, dass der Text Hintergrundfarbe annimmt */
  }
  >span{
    font-size: 32px;
    font-weight: bold;
    color: var(--primary-color);
  }
}

.ongoing-wrapper{
  margin-top: 30px;
  width: 361px;
}

.description-container{
  color: white;
  @include dFlex();
  flex-direction: column;
}

button{
  border-radius: 30px;
  width: 135px;
  height: 44px;
  background-color: var(--primary-color);
  border: none;
}
