<section>
  <div class="projekt-description-container">
    <div class="projekt-name-container">
      <h2>{{work?.projektNumber}}</h2>
      <h3> {{work?.projektName}}</h3>
    </div>
    <div class="about-projekt-container">
        <ul>
          <li>{{'WORK.about' | translate}}</li>
        </ul>
        <span>{{ work?.aboutTheProjekt ?? 'Default Text' | translate }}</span>
    </div>
    <div class="technologies-container">
      <ul>
        <li>{{'WORK.tech' | translate}}</li>
      </ul>
      <span>{{work?.technologies ?? 'Default Text' | translate}}</span>
    </div>
    <div class="description-container">
      <ul>
        <li>{{'WORK.learned' | translate}}</li>
      </ul>
      <span>{{work?.description ?? 'Default Text' | translate}}</span>
    </div>
  </div>
  <div class="projekt-img-container">
      <img style="width: 180px; height: 180px;" src="./img/Photo.svg" alt="">
      <div>
        <button class="transparent-button" (click)="navigateTo(work?.githubUrl)">GitHub</button>
        <button class="color-button" (click)="navigateTo(work?.liveDemoUrl)">{{'WORK.live' | translate}}</button>
      </div>
    </div>
</section>

