@import '../../../../styles.scss';

section{
  @include dFlex($g:32px);
  
  background-color: rgb(61,72,37);
  border-radius: 30px;
  padding: 0px 0px 0px 32px;
  margin: 32px;
  width: 920px;
  height: 560px;
  div{
    flex: 1;
  }
}

.projekt-name-container{
  @include dFlex($jc:start,$g:16px);
  >h2{
    font-size: 80px;
    margin-block-start: 0.0em;
    margin-block-end: 0.0em;
    font-weight: bold;
    color: transparent; /* Der Text ist transparent */
    -webkit-text-stroke: 1px var(--primary-color); /* Definiert einen dünnen Rand um den Text */
    background: transparent; /* Verhindert, dass der Text Hintergrundfarbe annimmt */
  }
  >h3{
    font-size: 48px;
    color: var(--primary-color);
  }
}

.projekt-description-container{
  height: 100%;
  ul{
    padding-inline-start: 0px;
    
    list-style-type: circle;
  }
  span,li{
    color: white
  }
}

.projekt-img-container{    // muss noch bearbeitet werden //
@include dFlex($g:16px);
flex-direction: column;
>img{
  width: 278px;
  height: 210px;
  border-radius: 5px;
}
>div{
  display: flex;
  gap: 16px;
  .transparent-button{
  border-radius: 30px;
  width: 135px;
  height: 44px;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
   &:hover{
    background-color: #B5E93B33;
    border: 1px solid ;
    cursor: pointer;
   }    
  }
  .color-button{
  border-radius: 30px;
  width: 135px;
  height: 44px;
  background-color: var(--primary-color);
  border: none;
    &:hover{
      background: linear-gradient(160deg, #B5E93B, #547800);
      cursor: pointer;
    }
  }
}
}

.toggle-card-container{
  display: none;
  .toggle-card{
    display: none;
    color: var(--primary-color);
    text-decoration: underline;
    margin-bottom: 8px;
      &:hover{
        cursor: pointer;
      }
  }
  
  .show-me-less{
    position: relative;
    top: 36px;
  }

  .triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 20px 10px;
  border-color: transparent transparent #b5e93b transparent;
  rotate: 180deg;
  &.expanded {
    transform: rotate(180deg);
  }
  }
}



@media (max-width:800px) {
  section{
    width: 585px;
    height: auto;
    flex-direction: column;
    padding-right: 16px;
  }

  .projekt-img-container{
    padding-bottom: 16px;
      >img{
        width: 180px;
      }
  }

  .toggle-card-container{
    @include dFlex($g:16px, $ai: flex-start);
    .toggle-card{
      display: block;
    }
  }
}

@media (max-width:665px) {
  section{
    width: 360px;

  }
}

@media (max-width:450px) {
  section{
    width: 260px;

  }
}