@import '../../../styles.scss';

section {
  @include dFlex($g: 16px);
  opacity: 0;  // Standardmäßig unsichtbar
  transform: translateY(-20px);  // Startposition für die Animation
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;  // Übergang für Sichtbarkeit und Position

  &.visible {  // Wenn sichtbar, wird die Animation aktiviert
    opacity: 1;
    transform: translateY(0);
  }

  > .why-me {
    font-size: 64px;
    font-weight: bold;
    color: transparent; /* Der Text ist transparent */
    -webkit-text-stroke: 1px var(--primary-color); /* Definiert einen dünnen Rand um den Text */
    background: transparent; /* Verhindert, dass der Text Hintergrundfarbe annimmt */
    transform: rotate(180deg);
    writing-mode: vertical-rl;
  }

  .why-me-contant {
    width: 840px;
    color: white;
    position: relative;

    > button {
      position: absolute;
      bottom: -60px;
      right: 40px;
      border-radius: 30px;
      width: 135px;
      height: 44px;
      background-color: var(--primary-color);
      border: none;
      &:hover {
        cursor: pointer;
        background: linear-gradient(160deg, #B5E93B, #547800);
      }
    }

    > p {
      margin-bottom: 48px;
    }
  }

  .i-am {
    color: var(--primary-color);
    font-size: 40px;
  }

  .icon-wrapper {
    @include dFlex($g: 88px, $ai: flex-start);
    > div {
      @include dFlex($g: 8px);
      flex-direction: column;
    }
    .location-icon,
    .notebook-icon,
    .laggage-case {
      width: 40px;
      height: 40px;
    }
  }

  /* Location Icon */
  .location-icon-wrapper {
    display: flex;
    flex-direction: column;
    span {
      transition: color 0.3s ease-in-out;
    }
    &:hover span {
      color: var(--primary-color);
    }
    .ellipse {
      visibility: hidden;
      position: relative;
      bottom: 40px;
      opacity: 0;
      transition: opacity 0.3s ease, visibility 1s ease;
    }
    &:hover .ellipse {
      visibility: visible;
      opacity: 1;
    }
  }

  /* Notebook Icon */
  .notebook-icon-wrapper {
    display: flex;
    flex-direction: column;
    span {
      transition: color 0.3s ease-in-out;
    }
    &:hover span {
      color: var(--primary-color);
    }
    .two-line-signal {
      position: relative;
      bottom: 123px;
      right: 20px;
    }
    .one-line-signal {
      position: relative;
      bottom: 92px;
      right: 23px;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s ease, visibility 1s ease;
    }
    &:hover .one-line-signal {
      visibility: visible;
      opacity: 1;
    }
  }

  /* Luggage Icon */
  .laggage-icon-wrapper {
    display: flex;
    flex-direction: column;
    span {
      transition: color 0.3s ease-in-out;
    }
    &:hover span {
      color: var(--primary-color);
    }
    .laggage-handle {
      position: relative;
      bottom: 86px;
      width: 30px;
      height: 26px;
      transition: transform 0.3s ease-in-out;
    }
    .laggage-case {
      z-index: 1;
    }
    .laggage-roll {
      position: relative;
      bottom: 76px;
    }
    &:hover .laggage-handle {
      transform: translateY(-10px);
    }
  }
}

@media (max-width:800px) {
  section{
    flex-direction: column;

      .why-me{
        transform: rotate(0deg);
        writing-mode: unset;
      }

      .i-am{
        margin-bottom: 24px;
      }

      .why-me-contant{
       width: auto;
       @include dFlex();
       flex-direction: column;
        button{
          position: static;
        }
        p{
          width: 90vw;
        }
      }

      .icon-wrapper{
        flex-direction: column;
        align-items: center;
        gap: 24px;
      }
  }
}
