<section #whyMeSection>
  <div class="why-me">{{'WHY_ME.why_me' | translate}}</div>
  <div class="why-me-contant">
    <p>{{'WHY_ME.description' | translate}}</p>
    <span class="i-am">{{'WHY_ME.i_am' | translate}}</span>
    <div class="icon-wrapper">
      <!-- Location Icon -->
      <div class="location-icon-wrapper">
        <img class="location-icon" src="./icons/Group 60.svg" alt="location">
        <span>{{'WHY_ME.location' | translate}}</span>
        <img class="ellipse" src="./icons/why-me-icons/Ellipse 20.svg" alt="ellipse">
      </div>

      <!-- Notebook Icon -->
      <div class="notebook-icon-wrapper">
        <img class="notebook-icon" src="./icons/lap top.svg" alt="notebook">
        <span>{{'WHY_ME.remote' | translate}}</span>
        <img class="one-line-signal" src="./icons/why-me-icons/Vector 23.svg" alt="wifi-signal">
        <img class="two-line-signal" src="./icons/why-me-icons/WiFi.svg" alt="wifi-signal">
      </div>

      <!-- Luggage Icon -->
      <div class="laggage-icon-wrapper">
        <img class="laggage-case" src="./icons/why-me-icons/Rectangle 125.svg" alt="">
        <span>{{'WHY_ME.relocate' | translate}}</span>
        <img class="laggage-handle" src="./icons/why-me-icons/Rectangle 126.svg" alt="">
        <img class="laggage-roll" src="./icons/why-me-icons/Group 57.svg" alt="">
      </div>
    </div>
    <button>{{'WHY_ME.contact_me' | translate}}</button>
  </div>
</section>
