@import '../../../styles.scss';

section{
@include dFlex();
width: 980px;
height: 400px; 
animation: fade-in-bottom-normal 1s ease-in-out;
 >span{
  font-size: 64px;
  font-weight: bold;
  color: transparent; /* Der Text ist transparent */
  -webkit-text-stroke: 1px var(--primary-color); /* Definiert einen dünnen Rand um den Text */
  background: transparent; /* Verhindert, dass der Text Hintergrundfarbe annimmt */
  transform: rotate(180deg);
  writing-mode: vertical-rl;
 }
 >div{
  @include dFlex();
  flex-direction: column;
  height: 400px;
  >span{
    color: white;
    padding-left: 40px;
  }
 }
}

.arrow-skill{
  position: relative;
  top: 156px;
  right: 120px;
  transition: transform 0.3s ease;
}

.arrow-skill:hover {
  @include aGlow(); 
}

.skill-icon-grid{
display: flex;
flex-direction: column;
}

.grid-wrapper{
  display: grid;
  align-items: flex-end;
  grid-template-columns: 120px 120px 120px 120px 120px 120px ;
  grid-template-rows: 150px 150px;
  gap: 8px;
  >div{
    @include dFlex();
    flex-direction: column;
    gap: 21px;
    color: white;
    text-align: center;
  }
  span{
    color: white;
  }
  img{
    transition: transform 0.3s ease;
    &:hover{
      @include aGlow();
    }
  }
  .icon-description {
    width: 200px;
    @include dFlex();
    opacity: 0; /* Unsichtbar zu Beginn */
    animation: fade-in-bottom-normal 0.5s ease-in-out forwards;
  }
}

.icon-container {
  opacity: 0; /* Standardmäßig unsichtbar */
  animation: fade-in-bottom-normal 0.5s ease-in-out 1s forwards;
}


