@import '../../../styles.scss';

section{
@include dFlex();
  width: 980px;
  height: 400px; 
  opacity: 0;  // Standardmäßig unsichtbar
  transform: translateY(-20px);  // Startposition für die Animation
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;  // Übergang für Sichtbarkeit und Position
  &.visible {  // Wenn sichtbar, wird die Animation aktiviert
    opacity: 1;
    transform: translateY(0);
  }
   >span{
    font-size: 64px;
    font-weight: bold;
    color: transparent; /* Der Text ist transparent */
    -webkit-text-stroke: 1px var(--primary-color); /* Definiert einen dünnen Rand um den Text */
    background: transparent; /* Verhindert, dass der Text Hintergrundfarbe annimmt */
    transform: rotate(180deg);
    writing-mode: vertical-rl;
   }
   >div{
    @include dFlex($ai:flex-start);
    flex-direction: column;
    height: 400px;
    >span{
      color: white;
      padding-left: 28px;
      text-align: center;
    }
   }
 
   .mobile-button-wrapper{
    display: none;
  }
}

.arrow-skill{
  position: relative;
  bottom: 20px;
  right: 120px;
  transition: transform 0.3s ease;
}

.arrow-skill:hover {
  @include aGlow();
  cursor: pointer; 
}

.skill-icon-grid{
display: flex;
flex-direction: column;
}

.grid-wrapper{
  display: grid;
  align-items: flex-end;
  grid-template-columns: 120px 120px 120px 120px 120px 120px ;
  grid-template-rows: 150px 150px;
  gap: 8px;
  >div{
    @include dFlex();
    flex-direction: column;
    gap: 21px;
    color: white;
    text-align: center;
  }

  span{
    color: white;
  }
  
  img{
    transition: transform 0.3s ease;
    &:hover{
      @include aGlow();
    }
  }

  .icon-description {
    width: 200px;
    @include dFlex();
    opacity: 0; 
    animation: fade-in-bottom-normal 0.5s ease-in-out forwards;
    text-align: center;
  }
}

.icon-container {
  opacity: 0; 
  animation: fade-in-bottom-normal 0.5s ease-in-out 1s forwards;
}

.let-us-talk-button{
  border-radius: 30px;
  width: 135px;
  height: 44px;
  background-color: var(--primary-color);
  border: none;
  &:hover{
    cursor: pointer;
    background: linear-gradient(160deg, #B5E93B, #547800);
  }
}

@media(max-width:1025px) {
  .arrow-skill{
    display: none;
  }

  section{
    flex-direction: column;
    height: auto;
    width: auto;
      >div{
        align-items: center;
        height: auto;
          >span{
            padding: 0px;
            width: 90vw;
          }
      }
      >span{
        transform: rotate(0deg);
        writing-mode: lr;
      }

      .mobile-button-wrapper{
        @include dFlex();
      }
  }

  .grid-wrapper{
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;

    .icon-description{
      display: none;
    }

    span{
      display: none;
    }
  }

  .mobile-description{
    display: block;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    width: 90vw;
    color: white;
  }
}

@media (max-width:450px) {
  section{
    >span{
      font-size: 48px;
    }
}
}


