@import '../styles.scss';

app-footer{
    width: 100px;
    background-color: var(--primary-color);
}

@media (max-width: 800px) {
    app-footer{
        width: 100vw;
        height: 180px;
        @include dFlex();
    }
}
