@import '../../styles.scss';

*{
    color: white;
}

section{
    margin: 24px 24px 77px 220px;
    
}

@media (max-width:800px) {
    section{
        margin: 98px 24px 24px 24px;
    }
}

@media (min-width:800px) {

}