@import '../../styles.scss';

*{
    color: white;
}

section{
    margin: 24px 24px 77px 220px;
    min-height: 100vh;
    max-width: 600px;
    h1{
        font-size: 32px;
        color: var(--primary-color);
        text-decoration: underline;
    }
    h2,h3,h4{
        color: var(--primary-color);
    }
    h2{
        text-decoration: underline;
    }
}

@media (max-width:800px) {
    section{
        margin: 98px 24px 24px 24px;
    }
}

@media (max-width:560px) {
    section{
        padding-top: 68px;
    }
}

@media (max-width:380px) {
    section{
        h1{
            font-size: 27px;
        }
    }
}