@import '../../styles.scss';

  app-why-me{
    margin-top: 54px;
    padding-left: 120px;
    padding-right: 120px;
  }
  
  app-my-skill-set{
    @include dFlex($ai:flex-end);
    margin-bottom: 200px;
    padding-left: 120px;
    padding-right: 120px;
  }
  
  app-my-work{
    @include dFlex();
    
  }
  
  app-references{
    @include dFlex();
  }
  
  app-contact-me{
    @include dFlex();
  }