@import '../../styles.scss';

  app-why-me{
    margin-top: 54px;
    padding-left: 120px;
    padding-right: 120px;
  }
  
  app-my-skill-set{
    @include dFlex($ai:flex-end);
    margin-bottom: 200px;
    padding-left: 120px;
    padding-right: 120px;
  }
  
  app-my-work{
    @include dFlex();
    padding-left: 120px;
    padding-right: 120px;
  }
  
  app-references{
    @include dFlex();
    padding-left: 120px;
    padding-right: 120px;
  }
  
  app-contact-me{
    @include dFlex();
    padding-left: 120px;
  }

  @media (max-width:800px) {

    app-why-me{
      margin-top: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }

    app-my-skill-set{
      margin-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }

    app-my-work{
      padding-left: 0px;
      padding-right: 0px;
    }

    app-references{
      padding-left: 0px;
      padding-right: 0px;
    }

    app-contact-me{
      padding-left: 0px;
    }
  }