@import '../../../styles.scss';

section {
  display: flex;
}

nav {
  width: 172px;
  height: 100vh;
  background-color: var(--primary-color);
  @include dFlex($jc: space-evenly, $g: 32px);
  writing-mode: vertical-rl;
  box-shadow: 21px 2px 17px 9px rgba(0, 0, 0, 0.94);
  position: fixed;
  z-index: 999;

  > a {
    text-decoration: none;
    transform: rotate(180deg);
    font-size: 34px;
    color: rgb(74, 74, 74);

    &:hover {
      color: white;
      cursor: pointer;
    }
  }

  .burger-menu {
    display: none; // Standardmäßig ausblenden
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    padding: 20px 0;
    text-align: center;

    .burger-menu-links {
      text-decoration: none;
      font-size: 20px;
      color: var(--secondary-text-color);

      &:hover {
        color: var(--secondary-color);
        cursor: pointer;
      }
    }
  }

  .burger-icon {
    display: none; // Standardmäßig ausblenden
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    position: relative; /* Damit wir das X zentrieren können */
  
    span {
      display: block;
      width: 30px;
      height: 3px;
      background-color: var(--secondary-text-color);
      transition: all 0.3s ease; /* Weiche Übergänge */
    }
  
    &.open {
      span:nth-child(1) {
        transform: rotate(45deg);
        position: absolute;
        top: 2;
      }
  
      span:nth-child(2) {
        opacity: 0; /* Entfernt den mittleren Balken */
      }
  
      span:nth-child(3) {
        transform: rotate(-45deg);
        position: absolute;
        bottom: 0;
      }
    }
  }
}

.nav-img-container {
  img {
    rotate: 180deg;
  }
}

.language{
  @include dFlex($g:8px);
  color: var(--secondary-text-color);
  .vertical-border{
    border-left: 3px solid var(--secondary-text-color);
    height: 18px;
  }
  .DE:hover,
  .EN:hover{
    cursor: pointer;
  color: black;
  }
}

@media (max-width: 800px) {
  section {
    nav {
      width: 100vw;
      height: 80px;
      writing-mode: horizontal-tb;
      direction: ltr;
      justify-content: space-between;
      .nav-links {
        display: none; // Desktop-Links ausblenden
      }

      .nav-img-container {
        display: block;
        margin-left: 16px;
        > img {
          height: 63px;
        }
      }

      .burger-icon {
        display: flex; // Burger-Icon einblenden
        padding-right: 16px;
      }

      .burger-menu {
        display: flex; // Burger-Menü bei Klick einblenden
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
      }
    }
  }
}
