@import '../../styles.scss';

.legal-container{
    @include dFlex();
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 180px);
    color: white;
    h1{
        color: var(--primary-color);
        text-decoration: underline;
    }

    a{
        text-decoration: none;
        color: white;
        &:hover{
            color: var(--primary-color);
        }
    }
}

@media (min-width:800px) {
    .legal-container{
        height: 100vh;
    }
}