@import '../../../styles.scss';

section{
  @include dFlex($g:32px);
}

.arrow-contact{
  position: relative;
  top: 158px;
  transition: transform 0.3s ease;
  &:hover{
    @include aGlow();
    cursor: pointer;
  }
}

.contact-me-container{
  @include dFlex();
  >span{
  font-size: 64px;
  font-weight: bold;
  color: transparent; /* Der Text ist transparent */
  -webkit-text-stroke: 1px var(--primary-color); /* Definiert einen dünnen Rand um den Text */
  background: transparent; /* Verhindert, dass der Text Hintergrundfarbe annimmt */
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  }
}

form{
  text-align: center;
  .name-mail{
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    height: 40px;
    width: 460px;
    padding-left: 24px;
    color: white;
    background-color: black;
    &::placeholder{
      
      color: var(--primary-color);
    }
  }
  textarea{
    border: 1px solid var(--primary-color);
    border-radius: 30px;
    height: 279px;
    width: 460px;
    background-color: black;
    resize: none;
    color: white;
    padding-left: 20px;
    padding-top: 24px;
    &::placeholder{
      color: var(--primary-color);
      font-size: 16px;
    }
  }
  label{
    color: var(--primary-color);
  }
  .check-box {
    appearance: none; /* Deaktiviert das Standard-Browser-Styling */
    -webkit-appearance: none;
    border: 3px solid white;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    position: relative; /* Wichtig, um das Pseudoelement zu positionieren */
    top: 7px;
    cursor: pointer; /* Zeigt an, dass die Checkbox anklickbar ist */
    &:hover {
      background: rgba(181, 233, 59, 0.4); /* Hintergrund beim Hover */
    }
  
    &:checked {
      background-color: transparent; 
      border-color: var(--primary-color);
    }
  
    /* Pseudoelement für das Häkchen */
    &:before {
      content: ""; 
      position: absolute;
      top: -1px;  /* Positionierung von oben */
      left: 0px; /* Positionierung von links */
      width: 14px; /* Breite des Häkchens */
      height: 19px; /* Höhe des Häkchens */
      display: none; /* Standardmäßig unsichtbar */
      background-color: var(--primary-color); /* Die Farbe des Häkchens */
      clip-path: polygon(29% 64%, 100% 0, 100% 11%, 26% 78%, 5% 52%, 12% 45%); /* Erzeugt das Häkchen in der Form */
    }
  
    /* Wenn gecheckt, wird das Häkchen angezeigt */
    &:checked:before {
      display: block; /* Macht das Häkchen sichtbar */
    }
  }
  a{
    color: white;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
  button{
    border-radius: 30px;
    width: 135px;
    height: 44px;
    background-color: var(--primary-color);
    border: none;
    position: relative;
    left: 168px;

    &:hover{
      background: linear-gradient(160deg, #B5E93B, #547800);
      cursor: pointer;
    }
  }
}

.impressum-container{
  @include dFlex($g:20px);
  flex-direction: column;
  height: 600px;
  width: 400px;
  color: white;
  h4{
    color: var(--primary-color);
  }
  a{
    color: white;
    text-decoration: none;
  }
  img{
    rotate: 180deg;
    transition: transform 0.3s ease;
    &:hover{
      @include aGlow();
    }
  }
  >div{
    @include dFlex($g:8px);
    >img{
      rotate: 0deg;
    }
  }
}

.notice-policy-container{
  flex-direction: column;
  a {
    position: relative;
    text-decoration: none; 
    color: white; 
    font-weight: 500;
    &:hover{
      color: var(--primary-color);
    } 
  }
  a::after {
    content: ''; 
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 0; 
    height: 2px; 
    background-color: var(--primary-color); 
    transition: width 0.3s ease, left 0.3s ease;
  }
  a:hover::after {
    width: 100%; 
    left: 0; 
  }
}

@media (max-width:800px) {
  .arrow-contact{
    display: none;
  }
  .impressum-container{
    >a{
      display: none;
    }
  }
}

