<section>
  <div class="social-icon-wrapper">
    <div class="icons">
      <a href="mailto:denis.d@hotmail.de">
        <img class="single-icon" src="./img/icons/Email button.svg" alt="Email">
      </a>
      <a href="https://github.com/" target="_blank">
        <img class="single-icon" src="./img/icons/Github button.svg" alt="GitHub">
      </a>
      <a href="https://www.linkedin.com/" target="_blank">
        <img class="single-icon" src="./img/icons/Linkedin button.svg" alt="LinkedIn">
      </a>
    </div>
    <div class="language">
      <span class="DE" (click)="switchLanguage('de')">DE</span>
      <div class="vertical-border"></div>
      <span class="EN" (click)="switchLanguage('en')">EN</span>
    </div>
  </div>
  <a class="arrow-contact" (click)="scroll($event, 'contact')">
    <img src="./img/Arrow 7.svg" alt="">
  </a>
  <div class="contact-me-container">
    <span>{{'CONTACT.contact_me' | translate}}</span>
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
      
      <input [(ngModel)]="contactData.name" class="name-mail" type="text" id="name" name="name" placeholder="Your name" required><br><br>
    
      
      <input [(ngModel)]="contactData.email" class="name-mail" type="email" id="email" name="email" placeholder="Your e-mail" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"><br><br>
    
      <br>
      <textarea [(ngModel)]="contactData.message" id="message" name="message" rows="4" placeholder="Your message" required></textarea><br><br>
    
      <input [(ngModel)]="contactData.policy" class="check-box" type="checkbox" id="policy" name="policy" required>

      <label for="policy">I've read the</label><a href="/privacy"> Privacy policy </a>
      <label for="policy">and agree to the processing<br> of my data as outlined.</label>
      <br><br>
      <button type="submit">Submit</button>
    </form>
  </div>
  <div class="impressum-container">
    <h4>{{'CONTACT.let_us' | translate}}</h4>
    <span>{{'CONTACT.description' | translate}}</span>
    <div>
      <img src="./img/icons/🦆 icon _email_.svg" alt="">
      <a href="">E-mail: denis.d&#64;hotmail.de</a>
    </div>
    <div>
      <img src="./img/icons/🦆 icon _phone_.svg" alt="">
      <a href="">Tel: 0173/3267162</a>
    </div> 
    <a href="#home" (click)="scroll($event, 'home')">
      <img src="./img/Arrow 7.svg" alt="arrow-left">
    </a>
    <div class="notice-policy-container">
      <a href="/legal">Legal notice</a>
      <a href="/privacy">Privacy policy</a>
      <span>&copy; Denis Dudda</span>
    </div>
  </div>

</section>
