<section>
  <a class="arrow-contact" (click)="scroll($event, 'contact')">
    <img src="./img/Arrow 7.svg" alt="">
  </a>
  <div class="contact-me-container">
    <span>{{'CONTACT.contact_me' | translate}}</span>
    <form >
      
      <input class="name-mail" type="text" id="name" name="name" placeholder="Your name" required><br><br>
    
      
      <input class="name-mail" type="email" id="email" name="email" placeholder="Your e-mail" required><br><br>
    
      <br>
      <textarea id="message" name="message" rows="4" placeholder="Your message" required></textarea><br><br>
    
      <input class="check-box" type="checkbox" id="policy" name="policy" required>
      <label for="policy">I've read the</label><a href="/privacy"> Privacy policy </a>
      <label for="policy">and agree to the processing<br> of my data as outlined.</label>
      <br><br>
      <button type="submit">Submit</button>
    </form>
  </div>
  <div class="impressum-container">
    <h4>{{'CONTACT.let_us' | translate}}</h4>
    <span>{{'CONTACT.description' | translate}}</span>
    <div>
      <img src="./icons/🦆 icon _email_.svg" alt="">
      <a href="">E-mail: m.huber&#64;gmail.com</a>
    </div>
    <div>
      <img src="./icons/🦆 icon _phone_.svg" alt="">
      <a href="">Tel: 0157/123456789</a>
    </div> 
    <a href="#home" (click)="scroll($event, 'home')">
      <img src="./img/Arrow 7.svg" alt="arrow-left">
    </a>
    <div class="notice-policy-container">
      <a href="">Legal notice</a>
      <a href="/privacy">Privacy policy</a>
      <span>&copy; Denis Dudda</span>
    </div>
  </div>
</section>
