@import '../../../styles.scss';

section{
  @include dFlex($g:32px);
}

.arrow-contact{
  position: relative;
  top: 158px;
  transition: transform 0.3s ease;
  &:hover{
    @include aGlow();
  }
}

.contact-me-container{
  @include dFlex();
  >span{
  font-size: 64px;
  font-weight: bold;
  color: transparent; /* Der Text ist transparent */
  -webkit-text-stroke: 1px var(--primary-color); /* Definiert einen dünnen Rand um den Text */
  background: transparent; /* Verhindert, dass der Text Hintergrundfarbe annimmt */
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  }
}

form{
  >input{
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    height: 40px;
    width: 460px;
    background-color: black;
  }
}
textarea{
  border: 1px solid var(--primary-color);
  border-radius: 50px;
  height: 279px;
  width: 460px;
  background-color: black;
}

.impressum-container{
  @include dFlex($g:20px);
  flex-direction: column;
  height: 600px;
  width: 400px;
  color: white;
  h4{
    color: var(--primary-color);
  }
  a{
    color: white;
    text-decoration: none;
  }
  img{
    rotate: 180deg;
    transition: transform 0.3s ease;
    &:hover{
      @include aGlow();
    }
  }
  >div{
    @include dFlex($g:8px);
    >img{
      rotate: 0deg;
    }
  }
}

.notice-policy-container{
  flex-direction: column;
}

