@import '../../../styles.scss';

section{
  @include dFlex($g:32px);
}

.arrow-contact{
  position: relative;
  top: 158px;
  transition: transform 0.3s ease;
  &:hover{
    @include aGlow();
    cursor: pointer;
  }
}

.contact-me-container{
  @include dFlex();
  >span{
  font-size: 64px;
  font-weight: bold;
  color: transparent; 
  -webkit-text-stroke: 1px var(--primary-color); 
  background: transparent; 
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  }
}

form{
  text-align: center;
  .name-mail{
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    height: 40px;
    width: 460px;
    padding-left: 24px;
    color: white;
    background-color: black;
    &::placeholder{      
      color: var(--primary-color);
    }
  }
  textarea{
    border: 1px solid var(--primary-color);
    border-radius: 30px;
    height: 279px;
    width: 460px;
    background-color: black;
    resize: none;
    color: white;
    padding-left: 20px;
    padding-top: 24px;
    &::placeholder{
      color: var(--primary-color);
      font-size: 16px;
    }
  }
  label{
    color: var(--primary-color);
  }
  .check-box {
    appearance: none; 
    -webkit-appearance: none;
    border: 3px solid white;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    position: relative; 
    top: 7px;
    cursor: pointer; 
    &:hover {
      background: rgba(181, 233, 59, 0.4); 
    } 
    &:checked {
      background-color: transparent; 
      border-color: var(--primary-color);
    }  
    
    &:before {
      content: ""; 
      position: absolute;
      top: -1px;  
      left: 0px; 
      width: 14px; 
      height: 19px; 
      display: none; 
      background-color: var(--primary-color); 
      clip-path: polygon(29% 64%, 100% 0, 100% 11%, 26% 78%, 5% 52%, 12% 45%); 
    }  
    
    &:checked:before {
      display: block; 
    }
  }
    a {
      color: white;
      text-decoration: none;
      position: relative;
     }
      a::after {
      content: ''; 
      position: absolute;
      bottom: 0; 
      left: 0;
      width: 0; 
      height: 2px; 
      background-color: var(--primary-color); 
      transition: width 0.3s ease, left 0.3s ease;
      }
      a:hover::after {
      width: 100%; 
      }
  
  button{
    border-radius: 30px;
    width: 135px;
    height: 44px;
    background-color: var(--primary-color);
    border: none;
    position: relative;
    left: 168px;
    &:hover{
      background: linear-gradient(160deg, #B5E93B, #547800);
      cursor: pointer;
    }
  }
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.impressum-container{
  @include dFlex($g:20px);
  flex-direction: column;
  height: 600px;
  width: 400px;
  color: white;
  h4{
    color: var(--primary-color);
  }

  a {
    color: white;
    text-decoration: none;
    position: relative;
    &:hover{
      color: var(--primary-color);
    }
  }

  img{
    rotate: 180deg;
    transition: transform 0.3s ease;
    &:hover{
      @include aGlow();
    }
  }

  >div{
    @include dFlex($g:8px);
    >img{
      rotate: 0deg;
    }
  }
}

.notice-policy-container{
  flex-direction: column;
  a {
    position: relative;
    text-decoration: none; 
    color: white; 
    font-weight: 500;
    &:hover{
      color: var(--primary-color);
    } 
  }

  a::after {
    content: ''; 
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 0; 
    height: 2px; 
    background-color: var(--primary-color); 
    transition: width 0.3s ease, left 0.3s ease;
  }

  a:hover::after {
    width: 100%; 
    left: 0; 
  }
}

.icons{
@include dFlex($g:16px);
}

.single-icon{
  transition: filter 0.3s ease-in-out;
  &:hover{
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(99%) sepia(69%) saturate(1578%) hue-rotate(12deg) brightness(91%) contrast(91%);
  }
}

.language{
  @include dFlex($g:8px);
  color: white;
  .vertical-border{
    border-left: 3px solid white;
    height: 18px;
  }

  .DE,
  .EN{
    transition: color 0.2s ease-in-out;
  }
}

.DE:hover{
  color: var(--primary-color);
  cursor: pointer;
}

.EN:hover{
  color: var(--primary-color);
  cursor: pointer;
}

@media (max-width:800px) {
  section{
    flex-direction: column-reverse;
    gap: 0px;
  }

  .contact-me-container{
    flex-direction: column;
    >span{
      transform: rotate(0deg);
      writing-mode: lr;
      position: relative;
      bottom: 320px;
    }
  }

  .arrow-contact{
    display: none;
  }

  .impressum-container{
    position: relative;
    top: 122px;
    text-align: center;
    height: auto;
    width: 90vw;
    >a{
      rotate: 90deg;
      position: relative;
      top: 700px;
    }

    .notice-policy-container{
      display: none;
    }
  }

  form{  
    .name-mail{
      width: 75vw;
    }

    textarea{
      width: 75vw;
    }

    button{
      left: 0px;
    }
  }

  .social-icon-wrapper{
    right: auto;
    top: 180px;
    display: flex;
    position: relative;
  }

  .language{
    display: none;
  }
}

@media (max-width:450px) {
  .contact-me-container{
    >span{
      font-size: 48px;
    }
 }

 .impressum-container{
    width: 90vw;
 }
}

@media (min-width:801px) {
  .social-icon-wrapper{
    display: flex;
    gap: 16px;
    position: fixed;
    top: 16px;
    right: 124px;
  }
}