<section>
  <div class="social-icon-wrapper">
    <div class="icons">
      <a href="mailto:denis.d@hotmail.de">
        <img class="single-icon" src="./img/icons/Email button.svg" alt="Email">
      </a>
      <a href="https://github.com/Denis-Dudda" target="_blank">
        <img class="single-icon" src="./img/icons/Github button.svg" alt="GitHub">
      </a>
      <a href="https://www.linkedin.com/in/denis-dudda-a87224350/" target="_blank">
        <img class="single-icon" src="./img/icons/Linkedin button.svg" alt="LinkedIn">
      </a>
    </div>
    <div class="language">
      <span class="DE" (click)="switchLanguage('de')">DE</span>
      <div class="vertical-border"></div>
      <span class="EN" (click)="switchLanguage('en')">EN</span>
    </div>
  </div>
  <a class="arrow-contact" (click)="scroll($event, 'contact')">
    <img src="./img/Arrow 7.svg" alt="">
  </a>
  <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" novalidate>
    <!-- Name -->
    <div class="form-group">
      <input class="name-mail" type="text" id="name" name="name" [(ngModel)]="contactData.name" #name="ngModel" placeholder="{{ 'CONTACT.placeholderName' | translate }}" required minlength="5"/>
      <div *ngIf="name.invalid && name.touched" class="error-message">{{ 'CONTACT.errorMessageName' | translate }}</div>
    </div>
  
    <!-- E-Mail -->
    <div class="form-group">
      <input class="name-mail" type="email" id="email" name="email" [(ngModel)]="contactData.email" #email="ngModel" placeholder="{{ 'CONTACT.placeholderMail' | translate }}" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"/>
      <div *ngIf="email.invalid && email.touched" class="error-message">{{ 'CONTACT.errorMessageMail' | translate }}</div>
    </div>
  
    <!-- Message -->
    <div class="form-group">
      <textarea id="message" name="message" [(ngModel)]="contactData.message" #message="ngModel" rows="4" placeholder="{{ 'CONTACT.placeholderMessage' | translate }}" required minlength="15"
      ></textarea>
      <div *ngIf="message.invalid && message.touched" class="error-message">{{ 'CONTACT.errorMessageText' | translate }}</div>
    </div>
  
    <!-- Privacy -->
    <div class="form-group">
      <label for="policy">{{'CONTACT.read' | translate}}</label>
      <input type="checkbox" id="policy" name="policy" [(ngModel)]="contactData.policy" #policy="ngModel" required/>
      <label class="policy-label" [routerLink]="'/privacy'" for="policy">
        {{ 'PRIVACY.title' | translate }}
      </label>
      <label for="policy">{{'CONTACT.agree' | translate}}<br>{{'CONTACT.myData' | translate}}</label>
      <div *ngIf="policy.invalid && policy.touched" class="error-message">{{ 'CONTACT.errorBoxMessage' | translate }}</div>
    </div>
  
    <!-- Submit Button -->
    <div class="form-group">
      <button type="submit" [disabled]="!contactForm.valid">
        {{ 'CONTACT.submit' | translate }}
      </button>
    </div>
  </form>
  
  
  <div class="impressum-container">
    <h4>{{'CONTACT.let_us' | translate}}</h4>
    <span>{{'CONTACT.description' | translate}}</span>
    <div>
      <img src="./img/icons/🦆 icon _email_.svg" alt="">
      <a href="">E-mail: denis.d&#64;hotmail.de</a>
    </div>
    <div>
      <img src="./img/icons/🦆 icon _phone_.svg" alt="">
      <a href="">Tel: 0173/3267162</a>
    </div> 
    <a href="#home" (click)="scroll($event, 'home')">
      <img src="./img/Arrow 7.svg" alt="arrow-left">
    </a>
    <div class="notice-policy-container">
      <a [routerLink]="'/legal'">Legal notice</a>
      <a [routerLink]="'/privacy'">Privacy policy</a>
      <span>&copy; Denis Dudda</span>
    </div>
  </div>
</section>

