@import '../../../../styles.scss';

section{
  @include dFlex($g:16px);
  flex-wrap: wrap;
}

.description{
  color: white;
}

.name-container{
  color: var(--primary-color);
  width: 240px;
  flex: 1;
  text-align: center;
}

.border-line{
  border-left: 1px solid var(--primary-color);
  height: 180px;
}

.description-wrapper{
  flex: 2;
}