<section>
  <a class="arrow-references" (click)="scroll($event, 'references')">
    <img src="./img/Arrow 7.svg" alt="arrow-right">
  </a>
  <div #refContainer class="ref-title-container">
    <h2>{{'REF.references' | translate}}</h2>
  </div>
  <div #refWrapper class="ref-card-wrapper" [ngClass]="{'single-card': isMobile}">
    <ng-container *ngIf="isMobile">
      <app-ref-cards  [card]="refCards[selectedCardIndex]"></app-ref-cards>
      <div class="card-buttons">
        <button *ngFor="let card of refCards; let i = index" [class.active]="i === selectedCardIndex" (click)="selectCard(i)">
        </button>
      </div>
    </ng-container>
  </div>
</section>
