@import '../../../styles.scss';

section{
  @include dFlex();
  height: 780px;
  >div{
    @include dFlex($jc:flex-end, $g:32px);
    flex-direction: column;
  }
}

.arrow-references{
  position: relative;
  top: 375px;
  transition: transform 0.3s ease;
  &:hover{
    @include aGlow();
    cursor: pointer;
  }
}

.ref-title-container{
  height: 100%;
  opacity: 0;  // Standardmäßig unsichtbar
  transform: translateY(20px);  // Startposition für die Animation
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;  // Übergang für Sichtbarkeit und Position
    &.visible {  // Wenn sichtbar, wird die Animation aktiviert
  opacity: 1;
  transform: translateY(0);
}
}

h2{
  font-size: 64px;
  font-weight: bold;
  color: transparent; /* Der Text ist transparent */
  -webkit-text-stroke: 1px var(--primary-color); /* Definiert einen dünnen Rand um den Text */
  background: transparent; /* Verhindert, dass der Text Hintergrundfarbe annimmt */
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}

.ref-card-wrapper{
  opacity: 0;  // Standardmäßig unsichtbar
  transform: translateY(20px);  // Startposition für die Animation
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;  // Übergang für Sichtbarkeit und Position
    &.visible {  // Wenn sichtbar, wird die Animation aktiviert
  opacity: 1;
  transform: translateY(0);
}
}

app-ref-cards{
  @include dFlex();
  width: 400px;
  height: 200px;
  border-radius: 40px;
  border: 1px solid;
  border-color: var(--primary-color);
  padding: 16px;
}