  @font-face {
    font-family: 'Quantico';
    src: url(../public/fonts/Quantico-Bold.ttf),
         url(../public/fonts/Quantico-BoldItalic.ttf),
         url(../public/fonts/Quantico-Italic.ttf),
         url(../public/fonts/Quantico-Regular.ttf);
        } 
  
  html{
    min-width: min-content;
    scroll-behavior: smooth;
  }
  
  body{
    margin: 0;
    padding: 0;
    background: linear-gradient(70deg, #000000 11.41%, #2C2B2B 22.29%, #0B0A0A 37.32%, #323232 58.54%, #0B0A0A 70.03%);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Quantico';
    overflow-y: hidden;
    overflow-x: auto; 
  }
  
  .contant-wrapper{
    display: flex;
    flex-direction: row;
    
  }

  @mixin aGlow(){
    filter: drop-shadow(0 0 20px var(--primary-color));
  }
  
  @mixin dFlex($jc:center,$ai:center,$g:0px){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
  }
  
  :root{
    --primary-color:rgb(181,233,59);
    --text-color: white;
    --secondary-text-color:rgba(74, 74, 74, 1);
  }

  @keyframes fade-in-bottom-normal {
    0% { 
      transform: translateY(50px);
      opacity: 0;
    } 
    100% {
      transform: translateY(0);
      opacity: 1;
    } 
  } 
  
  @keyframes fade-in-top-normal {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    } 
    100% { 
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fade-in-normal {
    0% { 
      opacity: 0;
    } 
     100% { 
      opacity: 1;
    }
  }

  @media (max-width: 800px) {
    body{
      width: 100vw;
      height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
    }

    .contant-wrapper{
      flex-direction: column;
    }
  }

::-webkit-scrollbar {
  width: 0px;  
  height: 0px; 
}


::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}