@import '../../../styles.scss';

.footer-main-mobile {
    display: none;

}

@media (max-width: 800px) {
    section {
        @include dFlex();
        flex-direction: column;
        div {
            display: flex;
            gap: 16px;
        }

        a {
            color: black;
            text-decoration: none;
            position: relative;
        }

        a::after {
            content: ''; 
            position: absolute;
            bottom: 0; 
            left: 0;
            width: 0; 
            height: 2px; 
            background-color: black; 
            transition: width 0.3s ease, left 0.3s ease;
        }

        a:hover::after {
            width: 100%; 
        }
    }

    .footer-main-mobile{
        display: block;
    }
}