@import '../../../styles.scss';

.footer-main-mobile {
    display: none;
}

.button {
    position: fixed;
    top: 30px;
    right: 30px;
    background-color: transparent;
    color: #e8e8e8;
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
    width: 150px;
    height: 60px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(51, 51, 51, 0.2);
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button::before {
    content: "Home!";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to right, rgb(181, 233, 59), rgb(100, 200, 50));
    transform: translate(0%,90%);
    z-index: 99;
    position: relative;
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button::after {
    content: "Back to";
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform-origin: top;
    transform: translate(0%,-100%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button:hover::before {
    transform: translate(0%,0%);
  }
  
  .button:hover::after {
    transform: translate(0%,-200%);
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:active {
    scale: 0.95;
  }

@media (max-width: 800px) {
    section {
        @include dFlex();
        flex-direction: column;
        width: 100%;
        div {
            display: flex;
            gap: 16px;
            width: 100%;
            justify-content: center;
        }

        a {
            color: black;
            text-decoration: none;
            position: relative;
        }

        a::after {
            content: ''; 
            position: absolute;
            bottom: 0; 
            left: 0;
            width: 0; 
            height: 2px; 
            background-color: black; 
            transition: width 0.3s ease, left 0.3s ease;
        }

        a:hover::after {
            width: 100%; 
        }
    }

    .footer-main-mobile{
        display: block;
        width: 120px;
        border-radius: 50%;
    }

    .button{
        top: 120px;
    }
}